<template name="schedulenew">
	{{>_header}} {{#if showEditEventNew}} {{>editEventNew}} {{/if}}
	<div class="template-home">
		<div class="page-header">
			<!--						<h1>Schedule</h1>-->
		</div>
		<p>
			Below calendar shows students who need volunteers to teach them. Each event on the below calendar represents the time the student is free. Click an event to view student details and add them to your calendar. You will be commiting to more time to Flyover by adding new students.
			<br> <a href="{{ pathFor 'schedule' }}">To go back to your calendar, please click here.</a>
			<br>
		</p>
	</div>
	<!--Sees to it, that everytime something is entered the calendar gets re rendered automatically-->
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8" style="width:100%">
				<div id="calendarnew">
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</template>

<template name="editEventNew">
	<div class="modal" id="EditEventModalNew">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Student Details</h4>
				</div>
				<div class="modal-body">
					Student name - {{evt.title}}
					<br> Weekly class time - {{evt.weekly_time}} (You will be teaching the student for 30mins each week at this time)
					<br> Duration - {{evt.display_start}} - {{evt.display_end}} (This module is for 10 weeks.)
					<br> Please click on Add student button to confirm that you will be teaching {{evt.title}} for the mentioned duration.
				</div>
				<div class="modal-footer">
					<!--					<a href="#" class="btn btn-danger remove">Drop Class</a>-->
					<!--					<a href="#" class="btn btn-danger remove">Drop Module</a>-->
					<a href="#" class="btn btn-primary save">Add student</a>
					<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
</template>