<template name="home">
	<div class="template-home">
		<div class="page-header">
			<!--			<img src="/images/Slide2.jpg">-->
			<!-- <iframe src="https://docs.google.com/presentation/d/1FAmxsQFyNUyNASrktJNO_T3h7g5yopjVk7cLr4x2CaY/embed?start=true&loop=false&delayms=10000&background=transparent" frameborder="0" width="1200" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
			<!-- <link rel="stylesheet" type="text/css" href="/fonts/javascript.fullPage.css" /> -->
			<div id="fullpage">
				<div class="section " id="section0">
					<div class="content">
						<img src="/images/Slide1_gyaan.png">
					</div>
				</div>
				<div class="section" id="section1">
					<div class="slide" id="slide1">
						<div class="content">
							<img src="/images/Slide2_gyaan_v2.png">
						</div>
					</div>
					<div class="slide" id="slide2">
						<div class="content">
							<!--							<img src="/images/Slide1.jpg">-->
							<!--							<h1>Slides too!</h1>-->
						</div>
					</div>
					<div class="slide" id="slide2">
						<div class="content">
							<!--							<img src="/images/Slide2.jpg">-->
							<!--							<h1>More slides!</h1>-->
						</div>
					</div>
				</div>
				<div class="section" id="section2">
					<div class="content">
						<img src="/images/Slide3_gyaan_v2.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>