<template name="volprofile">

	<!-- {{#if showModalEvent}}  -->
	{{>showModal}}
	<!-- {{/if}} -->
	<div class="template-home">
		<div class="page-header"> <h1>Volunteer Profile</h1> </div>
		<p> In the carousel below, you can click on the images to view details of the students that you are responsible for. Upcoming classes that you have taught or are about to teach are in the table below </p>
		<br> {{> carousel}} {{> showStudentModal}}
		<br> {{> sessiontable}}
	</div>
</template>


<template name="sessiontable">
	<div id="sessiontable">
		<h4> Sesssion Table </h4>
		<p> Upcoming classes that you have taught or are about to teach are in the table below </p>
		{{> tabular table=TabularTables.Sessions selector=selector class="table table-striped table-bordered table-condensed"}}
	</div>
</template>



<template name="showModal">
	<!--Modal Dialog-->
	<div class="modal" id="showModalid">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h2 class="modal-title">Session Feedback Form</h2>
				</div>

				<div class="modal-body">
					<!-- 					Student Name - {{ temp.assigned_student }}
					<br> {{ temp.session }} {{ temp.date }} {{ temp.time }}
 -->
					<!-- {{lsn}}
 					{{act}} -->
 					<div class="container">
 					<div class="col-md-2">
					<div class="span12" id="studentdetails">
						<div id="student1">
						<!-- <a href="{{pathFor 'studentprofile' student_id= studentlist }}"> -->
						<!-- </a> -->
						</div>
						<h4>Student details</h4>
						<img src="/images/student1.jpg" width="100px" height="100px"> 
						<br>
						<br>Name: {{ temp.title }}
						<br>City: {{temp.current_city}} {{temp.current_state}}
						<br>Grade: {{temp.Grade}}
						<br>Interests: {{temp.likes}}
					</div>
					<br>
					<br>
					<br>
					<!-- <br>
					<br> -->
					<!-- <br>
					<br>
					<br> -->

					<div class="span12" id="rsrc">

						<h4>Resources</h4>
						<br>
						<a href="http://www.teach-this.com/resources/esl/introductions-personal-information">Resource1</a>
					</div>
					</div>
					<div class="col-md-6">

					<div class="span12" id="lessn">

						<h4>Lesson: {{lsn.name}}</h4>
						<br>Objective: {{lsn.objective}}
						<br>{{lsn.lessoncontentbody}}
						<br>
						<br>Activities:
						<br>{{#each act}}
						<li>{{activitycontentbody}}</li>
						{{/each}}
						<br>
						
						
						<h4>Assessment</h4>
							<ol>
								<br>{{#each ass}}
								<li>{{assessmentcontentbody}}</li>
								{{/each}}
							</ol>
							<br>
						<fieldset>
							<!-- <legend><h3>Assessment</h3></legend>
							<ol>
								<br>{{#each ass}}
								<li>{{assessmentcontentbody}}</li>
								{{/each}}
							</ol> -->
							<legend>Enter scores for this assessment:</legend>
							
							<input type="text" size="3" value="0" id="score">/ {{ass2.maxscore}}
							<br>
							<br>
							<label>Engagement
								<input type="radio" name="Engagement" class="eng" value="1">1
								<input type="radio" name="Engagement" class="eng" value="2">2
								<input type="radio" name="Engagement" class="eng" value="3">3
								<input type="radio" name="Engagement" class="eng" value="4">4
								<input type="radio" name="Engagement" class="eng" value="5" checked="checked">5

							</label>
							<br>
							<label> Retention
								<input type="radio" name="Retention" value="1">1
								<input type="radio" name="Retention" value="2">2
								<input type="radio" name="Retention" value="3">3
								<input type="radio" name="Retention" value="4">4
								<input type="radio" name="Retention" value="5" checked="checked">5
							</label>
							<br>
							<label> Accuracy
								<input type="radio" name="Accuracy" value="1">1
								<input type="radio" name="Accuracy" value="2">2
								<input type="radio" name="Accuracy" value="3">3
								<input type="radio" name="Accuracy" value="4">4
								<input type="radio" name="Accuracy" value="5" checked="checked">5
							</label>
							<br>
							<label> Fluency
								<input type="radio" name="Fluency" value="1">1
								<input type="radio" name="Fluency" value="2">2
								<input type="radio" name="Fluency" value="3">3
								<input type="radio" name="Fluency" value="4">4
								<input type="radio" name="Fluency" value="5" checked="checked">5
							</label>
							<br>
							<label> Creativity
								<input type="radio" name="Creativity" value="1">1
								<input type="radio" name="Creativity" value="2">2
								<input type="radio" name="Creativity" value="3">3
								<input type="radio" name="Creativity" value="4">4
								<input type="radio" name="Creativity" value="5" checked="checked">5
							</label>
						</fieldset>
						<br>
						<br>
						<h4>Comments</h4>
							<textarea rows="5" cols="80" id="commentstextarea" name="commentstextarea" value={{cmt.notes}}>
							</textarea>
						

					</div>
				</div>
					<div class="col-md-4">
						<div class="span12" id="current">
							<h4>Notes</h4>
							<br>
							<textarea rows="5" cols="40" id="currentnotes" name="currentnotes" value="Type notes for this session">
							</textarea>
							<!-- <input type="textarea" value="something" id="currentnotes"> -->

						</div>
						<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<div class="span12" id="past">

						<h4>Previous Session Notes</h4> 
						<br>{{dt.notes}}
					</div>
				</div>
			</div>
					<div class="modal-footer">
						<!--			<a href="#" class="btn btn-danger remove">Delete</a>btn btn-primary save-->
						<a href="#" class="btn btn-primary save" id="savesession">Save</a>
						<a href="#" class="btn close" data-dismiss="modal">Cancel</a>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<!-- /.modal -->
</template>

<!-- Old working Carousel code  -->
<!-- <template name="carousel"> 
  <div id="carousel">
    <div id="student1">  -->
      <!-- <a href="{{pathFor 'studentprofile' student_id= studentlist }}"> -->
        <!-- <img src="/images/icon1.png" width= "100px" height= "100px"> -->
      <!-- </a> -->
<!--       <p> {{studentlist.title}} </p>
    </div>
    
    <div id="student2"> 
      <img src="/images/icon2.png" width= "100px" height= "100px">
      <p> {{studentlist.title}} </p>
    </div>     
    <div id="student3"> 
      <img src="/images/icon3.png" width= "100px" height= "100px">
      <p> {{studentlist.title}} </p>
    </div>
  </div>
</template> -->

<!-- Trying to dynmaically render -->
<template name="carousel">
	<div id="carousel">
		<!-- <div id="student"> -->
			{{#each studentlist}}
			<div class="student_div" id={{student_id}}>
				<img src="/images/icon1.png" width="100px" height="100px">
				<!-- <p>{{student_id}}</p> -->
			</div>
			{{/each}}
		</div>
	<!-- </div> -->
</template>


<template name="showStudentModal">
  <!--Modal Dialog-->
  <div class="modal" id="studentModalid">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h2 class="modal-title">{{studentdetails.title}}</h2>
        </div>

      <div class="modal-body">
        <div class="parts" id="studentdetails">                
          <h4>Student Details</h4>
          <br>Student Name: {{ studentdetails.title }}
          <br>City: {{studentdetails.current_city}} {{studentlist.current_state}}
          <br>Grade: {{studentdetails.Grade}}
          <br>Interests: {{studentdetails.likes}}
          <br>Dislikes: {{studentdetails.dislikes}}
          <br>Phone: {{studentdetails.phone}}
          </div>
          <br>
        <div class="parts" id="about">
            <h4>About</h4>
            {{studentdetails.about}}
        </div>
        <br>
<!--         <div class="parts" id="notes">
          <h5>Previous Session Notes</h5>
            <p>{{notes.notes}}</p>
        </div>
        <br> -->
		
		<div class="parts" id="container-column" style="min-width: 310px; height: 400px;">
			{{>highchartsHelper chartId="test" chartWidth="40%" charHeight="40%" chartObject=columnDemo}}
		</div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
	</div>
  <!-- /.modal -->
</template>



<!-- Code that can used for a table -->
<!--         <table class="table table-striped" id="tblGrid">
          <thead id="tblHead">
            <tr>
              <th>Lesson Name</th>
              <th>Assessment Score</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Long Island, NY, USA</td>
              <td>3</td>
              <td class="text-right">45001</td>
            </tr>
            <tr><td>Chicago, Illinois, USA</td>
              <td>5</td>
              <td class="text-right">76455</td>
            </tr>
            <tr><td>New York, New York, USA</td>
              <td>10</td>
              <td class="text-right">39097</td>
            </tr>
          </tbody>
        </table> -->


