
<template name="volprofile">

	<!-- {{#if showModalEvent}}  -->
	{{>showModal}}
	<!-- {{/if}} -->
	<div class="template-home">
		<div class="page-header">
			<h1>Volunteer Profile</h1> </div>
		<p> Below are the students that you will be teaching. Click to view their details and see their progress. Upcoming classes that you have taught or are about to teach are in the table below </p>
		<!-- <br> {{> carousel}} {{> showStudentModal}} -->
		<br> {{>studentPanel}} {{> showStudentModal}}
		<br> {{> sessiontable}}
	</div>
</template>


<template name= "studentPanel">
	<div class="row">
		{{#each studentlist}}
                <div class="col-lg-3">
                    <div class="panel panel-red" >
                        <div class="panel-heading">
                            {{title}}
                        </div>
                        <div class="panel-body">
																<div class="col-xs-3">
                                   <i class="fa fa-child fa-5x"></i>
                               </div>
                            <br> Grade: {{Grade}}
                            <br> {{current_city}}, {{current_state}}
                        </div>
                        <a><div class="panel-footer" id={{_id}}>
                            More Details
                        </div></a>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
  {{/each}}
            </div>
            <!-- /.row -->
</template>




<template name="sessiontable">
	<div id="sessiontable">
		<h4> Sesssion Table </h4>
		<p> Upcoming classes that you have taught or are about to teach are listed in the table below. Click the row to view the lesson plan and record feedback for a session.</p>

		{{> tabular table=TabularTables.Sessions selector=selector class="table table-striped table-bordered table-condensed"}}
	</div>
</template>

<template name="moreDetails">
  <i class="fa fa-arrow-circle-right"></i>
</template>



<template name="showModal">
	<!--Modal Dialog-->
	<div class="modal" id="showModalid">

		<div class="modal-dialog">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h2 class="modal-title">Session Feedback Form</h2>
				</div>

				<div class="modal-body">
					
					<div class="container">
						
						<div class="row">
							
							<div class="col-md-4">
							<div class="span12" id="studentdetails">
								<!-- <div id="student1"> -->
									<!-- <a href="{{pathFor 'studentprofile' student_id= studentlist }}"> -->
									<!-- </a> -->
								<!-- </div> -->
								<h4>Student details</h4>
								<img src="/images/student1.jpg" width="100px" height="100px" align="left">
								&nbsp;&nbsp;&nbsp;&nbsp;{{ temp.title }}
								<br>&nbsp;&nbsp;&nbsp;&nbsp;{{temp.current_city}}, {{temp.current_state}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp;Grade {{temp.Grade}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp;Likes {{temp.likes}}
								</div>
								<br>
							</div>
							


							<div class="col-md-4">
							<div class="span6" style="padding-right:20px; border-right: 1px solid #ccc;">
							<div class="span12" id="past">
								<h4>Previous Session Notes</h4>
								<br>{{dt.notes}}
								</div>
								<br>
							</div>
							</div>

							<div class="col-md-4">

								<div class="span12" id="current">
								<h4>Current Session Notes</h4>
								<p>(Notes for self and future volunteers)</p>
								<textarea rows="5" cols="30" id="currentnotes" name="currentnotes" placeholder="Start typing here"></textarea>
								</div>
								<br>

							</div>
							

						</div> <!-- First Row Ends -->

							<div class="row">

							<div class="col-md-8">
							<div class="span6" style="padding-right:20px; border-right: 1px solid #ccc;">


								<div class="span12" id="lessn">
								<h4>Lesson: {{lsn.name}}</h4>
								<br>Objective: {{lsn.objective}}
								<br>
								<br>{{lsn.lessoncontentbody}}
								<br>
								<br>Activities:
								<br>{{#each act}}
								<li>{{activitycontentbody}}</li>
								{{/each}}
								</div>
								<br>
							</div>
							</div>


							<div class="col-md-4">
							<div class="span12" id="assessment">
								<h4>Assessment</h4>
								<ul style="list-style: none; padding-left:0;">
									<br>{{#each ass}}
									<li><input type="checkbox" name="chkbx" value="1">&nbsp;&nbsp;{{assessmentcontentbody}}</li>
									{{/each}}
								</ul>
							</div>
							<br>
							</div>


							</div> <!-- Second Row Ends -->

						

						<div class="row">

						<div class="col-md-8"> 
						<div class="span6" style="padding-right:20px; border-right: 1px solid #ccc;">

								<div class="span12" id="rsrc">
								<h4>Resources</h4>
								<br>
								<a href="http://www.teach-this.com/resources/esl/introductions-personal-information" target="_blank">Resource1</a>
								</div>
						</div>
						</div>

							<div class="col-md-4">	
								
								<div class="span12" id="notes">
								<h4>Comments</h4>
								<p>(Comments to be sent to the student's parents periodically)</p>
								<textarea rows="5" cols="30" id="commentstextarea" name="commentstextarea" placeholder="Start typing here"></textarea>
								</div>
								<br>

							</div>


						</div> <!-- Last Row Ends -->

					</div> <!-- Container Ends -->	
					
					
					<div class="modal-footer">
						<!--			<a href="#" class="btn btn-danger remove">Delete</a>btn btn-primary save-->
						<a href="#" class="btn btn-primary save" id="savesession" data-dismiss="modal">Save</a>
						<a href="#" class="btn close" data-dismiss="modal">Cancel</a>
					</div>
				</div> <!-- Modal Body Ends -->
				
			</div> <!-- Modal-content Ends -->
			
		</div> <!-- Modal-dialog Ends -->
	</div> <!-- Modal Ends -->
	
</template>

<!-- Old working Carousel code  -->
<!-- <template name="carousel"> 
  <div id="carousel">
    <div id="student1">  -->
<!-- <a href="{{pathFor 'studentprofile' student_id= studentlist }}"> -->
<!-- <img src="/images/icon1.png" width= "100px" height= "100px"> -->
<!-- </a> -->
<!--       <p> {{studentlist.title}} </p>
    </div>
    
    <div id="student2"> 
      <img src="/images/icon2.png" width= "100px" height= "100px">
      <p> {{studentlist.title}} </p>
    </div>     
    <div id="student3"> 
      <img src="/images/icon3.png" width= "100px" height= "100px">
      <p> {{studentlist.title}} </p>
    </div>
  </div>
</template> -->

<!-- Trying to dynmaically render -->
<template name="carousel">
	<div id="carousel">
		<!-- <div id="student"> -->
		{{#each studentlist}}
		<div class="student_div" id={{student_id}}>
			<img src="/images/icon1.png" width="100px" height="100px">
			<!-- <p>{{student_id}}</p> -->
		</div>
		{{/each}}
	</div>
	<!-- </div> -->
</template>


<template name="showStudentModal">
	<!--Modal Dialog-->
	<div class="modal" id="studentModalid">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h2 class="modal-title">{{studentdetails.title}}</h2>
				</div>

				<div class="modal-body">
					<div>
						<div class="col-md-3">
							 <i class="fa fa-child fa-5x"> </i>
						</div>

						<div class="col-md-3" id="studentdetails">
							<h4>Student Details</h4>
							City: {{studentdetails.current_city}} {{studentdetails.current_state}}
							<br>Grade: {{studentdetails.Grade}}
							<br>Interests: {{studentdetails.likes}}
							<br>Dislikes: {{studentdetails.dislikes}}
						</div>

						<div class="col-md-6" id="about">
							<h4>About</h4> {{studentdetails.about}} <br><br>
						</div>

					</div>
					
			    <div class="row">
            <div class="col-lg-12">
               <div class="panel panel-default">
                  <div class="panel-heading">
                        Previous Session Notes
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                            	{{#each allnotes}}
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{lesson_id}} - {{lesson_name}}</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        {{notes}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
						<div class="col-md-6" id="container-column" style="min-width: 310px; height: 400px;">
							{{>highchartsHelper chartId="test" chartWidth="40%" charHeight="40%" chartObject=columnDemo}}
						</div>
						<div class="col-md-1">
						</div>
						<div class="col-md-5">
						  <h4> Lesson: Module 1 Primer: Introductions</h4>
						  <p>Objective: To make the student feel comfortable with you </p>
						  <p>Activities</p>
							<li>Greet the student, introduce yourself, ask her how her day was and what she did today, tell her about what you did.</li>
							<li> Use both English and the local language, build a rapport. </li>
							<li>Explain that you will be teaching her for the next 3 months and that the goal will be to improve her English by learning and practicing together. Sound excited and upbeat and keep telling her how fun it will be.</li>
							<li>Ask her to say any sentence of her choice in English and ask her what it means and what each word means.</li>
							<li>Say bye on a happy note, and remind her you will call back soon. Ask her to practice her sentence with others.</li>
						</div>

					</div>
				
				</div>
				<!-- /.modal-body -->
			</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</template>



<!-- Code that can used for a table -->
<!--         <table class="table table-striped" id="tblGrid">
          <thead id="tblHead">
            <tr>
              <th>Lesson Name</th>
              <th>Assessment Score</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Long Island, NY, USA</td>
              <td>3</td>
              <td class="text-right">45001</td>
            </tr>
            <tr><td>Chicago, Illinois, USA</td>
              <td>5</td>
              <td class="text-right">76455</td>
            </tr>
            <tr><td>New York, New York, USA</td>
              <td>10</td>
              <td class="text-right">39097</td>
            </tr>
          </tbody>
        </table> -->




<!-- Old code for detailed assessment -->

<!-- <fieldset> -->
									<!-- <legend><h3>Assessment</h3></legend>
							<ol>
								<br>{{#each ass}}
								<li>{{assessmentcontentbody}}</li>
								{{/each}}
							</ol> -->
									<!-- <legend>Enter score for this assessment:</legend>

									<input type="text" size="3" value="0" id="score">/ {{ass2.maxscore}}
									<br>
									<br> -->
									<!-- <label>Engagement
										<input type="radio" name="Engagement" class="eng" value="1">1
										<input type="radio" name="Engagement" class="eng" value="2">2
										<input type="radio" name="Engagement" class="eng" value="3">3
										<input type="radio" name="Engagement" class="eng" value="4">4
										<input type="radio" name="Engagement" class="eng" value="5" checked="checked">5

									</label>
									<br>
									<label> Retention
										<input type="radio" name="Retention" value="1">1
										<input type="radio" name="Retention" value="2">2
										<input type="radio" name="Retention" value="3">3
										<input type="radio" name="Retention" value="4">4
										<input type="radio" name="Retention" value="5" checked="checked">5
									</label>
									<br>
									<label> Accuracy
										<input type="radio" name="Accuracy" value="1">1
										<input type="radio" name="Accuracy" value="2">2
										<input type="radio" name="Accuracy" value="3">3
										<input type="radio" name="Accuracy" value="4">4
										<input type="radio" name="Accuracy" value="5" checked="checked">5
									</label>
									<br>
									<label> Fluency
										<input type="radio" name="Fluency" value="1">1
										<input type="radio" name="Fluency" value="2">2
										<input type="radio" name="Fluency" value="3">3
										<input type="radio" name="Fluency" value="4">4
										<input type="radio" name="Fluency" value="5" checked="checked">5
									</label>
									<br>
									<label> Creativity
										<input type="radio" name="Creativity" value="1">1
										<input type="radio" name="Creativity" value="2">2
										<input type="radio" name="Creativity" value="3">3
										<input type="radio" name="Creativity" value="4">4
										<input type="radio" name="Creativity" value="5" checked="checked">5
									</label> -->
								<!-- </fieldset> -->