<template name="calendar">
	{{#if showEditEvent}}
	{{>editEvent}}
	{{/if}}	
	<!--Sees to it, that everytime something is entered the calendar gets re rendered automatically-->
	<div class="container" >
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8" style="width:100%">
					<div id="calendar">					
					</div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
    </div>
		
</template>

<template name="editEvent">
<!--Modal Dialog-->
	<div class="modal" id="EditEventModal">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h4 class="modal-title">Student Details</h4>
		  </div>
		  <div class="modal-body">
<!--			<label for="title">Student Name: </label>-->
<!--			  <input type="text" class="title" name="title" value="{{evt.title}}" id="title" readonly="readonly">-->
			  <label id="title">{{evt.title}}</label>
			  <label id="start">{{evt.start}}</label>
			  <label id="duration">1 hour each week, for 15 weeks</label>
			  <label>Please click Yes to confirm that you will be teaching {{evt.title}} for the mentioned duration. </label>
<!--			  <input type="text" class="title" name="title" value="{{evt.title}}" id="end" readonly="readonly">-->
			  <!--			  <label value="{{evt.title}}" id="title"></label>-->
		  </div>
		  <div class="modal-footer">
<!--			<a href="#" class="btn btn-danger remove">Delete</a>-->
			<a href="#" class="btn btn-primary save">Yes</a>
			<a href="#" class="btn close" data-dismiss="modal">No</a>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>